.logo {
  height: 50px;
  width:auto
}
.sign {
  margin:  8px;
}
.image-slide{
height: 500px !important;
width:auto;
padding-top:10px ;

}
.item {
  width: 240px !important;
  margin:15px
}
.side {
  padding-top:10px
}
.ads  {
  padding:20px !important;
  color: red
}
.product-image {
  height: 200px !important;
  width: 300px !important
}
.card {
  margin:10px !important;
  border-radius: 5px !important;
}
.btnad{
  width: 25%;
}
header{
  margin-bottom: 75px;
}
.link {
  text-decoration: none;
}
.productImage{
  height:200px !important;
  width:auto;
  border-radius: 5px;
  margin-top:25px
}
.userContact{
  justify-content: center;
  align-content: center;
}

.user{
  width: 40%;
  padding: 10px;
}